/*  Base Theme Defaults
-------------------------------------------------- */

/* Grid
-------------------------------------------------- */
@mixin grid($columns) {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	grid-column-gap: 8px;
	grid-row-gap: 8px;
	// place-items: center;

	@include breakpoint(large) {
		grid-template-columns: repeat($columns, 1fr);
		grid-template-rows: auto;
		grid-column-gap: 32px;
		grid-row-gap: 32px;
	}
}

.grid-1 {
	@include grid(1);
}

.grid-2 {
	@include grid(2);
}

.grid-3 {
	@include grid(3);
}

.grid-4 {
	@include grid(4);
}
